{% if site.data.profile.education %}
<h4>Education</h4>

{% for item in site.data.profile.education %}
<div style="margin-bottom: 1.2rem;">
  <strong>{{ item.name }}</strong><br>
  <span>{{ item.position }}</span><br>
  <em>{{ item.date }}</em>
</div>
{% endfor %}
{% endif %}

{% if site.data.profile.experience %}
<h4>Experience</h4>

{% for item in site.data.profile.experience %}
<div style="margin-bottom: 1.2rem;">
  <strong>{{ item.name }}</strong><br>
  <span>{{ item.position }}</span><br>
  <em>{{ item.date }}</em>
</div>
{% endfor %}
{% endif %}

{% if site.data.profile.awards %}
<h4>Honors & Awards</h4>

{% for item in site.data.profile.awards %}
<div style="margin-bottom: 1rem;">
  <strong>{{ item.name }}</strong><br>
  <em>{{ item.date }}</em>
</div>
{% endfor %}
{% endif %}
